body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

small {
 font-size: 14px;
 display: block;
 text-align: left;
}

#auth-form {
  margin: 2em auto;
  width: 50vw;
  text-align: center;
}

.auth-buttons {
  width: 70%;
  margin: 2em auto 0 auto;
  text-align: center;
}
