body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#colorNavBar {
  box-shadow: 0.1em 0.1em 0.1em 0.1em silver;
}

#navTabLinks {
  display: inline-block;
  margin: 0.4em 0 1em 1em;
  font-size: 20px;
  color: #696969;
}

#navTabLinks:hover {
 color: #000000;
}

#navStyle {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-left: 1em;
}

nav img {
  display: inline-block;
  margin-top: 0.2em;
}

form div {
  margin: 1em;
  display: inline-block;
}

small {
 font-size: 14px;
 display: block;
 text-align: left;
}

#auth-form {
  margin: 2em auto;
  width: 50vw;
  text-align: center;
}

.auth-buttons {
  width: 70%;
  margin: 2em auto 0 auto;
  text-align: center;
}

#reacto-dashboard {
  margin: 0 auto;
  width: 70%;
}

#reacto-dashboard > h1 {
  font-size: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reacto-markdown {
  padding: 5%;
}
